In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os
import numpy as np
import sklearn
from sklearn import linear_model
from sklearn.utils import shuffle
import matplotlib.pyplot as plt
from matplotlib import style
import pickle

In [2]:
data = pd.read_csv("student-por.csv", sep=";")

In [3]:
data.head(100)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,GP,F,15,R,GT3,T,1,1,at_home,other,...,3,1,2,1,1,1,4,13,13,13
96,GP,M,16,R,GT3,T,4,3,services,other,...,3,3,3,1,1,4,6,9,11,11
97,GP,F,16,U,GT3,T,2,1,other,other,...,4,3,5,1,1,5,0,13,12,12
98,GP,F,16,U,GT3,T,4,4,other,other,...,5,3,4,1,2,1,4,12,13,13
99,GP,F,16,U,GT3,T,4,3,other,at_home,...,5,3,5,1,1,3,2,12,13,13

In [4]:
print(data.head())

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  ...  \
0     GP   F   18       U     GT3       A     4     4  at_home   teacher  ...
1     GP   F   17       U     GT3       T     1     1  at_home     other  ...
2     GP   F   15       U     LE3       T     1     1  at_home     other  ...
3     GP   F   15       U     GT3       T     4     2   health  services  ...
4     GP   F   16       U     GT3       T     3     3    other     other  ...

  famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0      4        3      4     1     1      3        4   0  11  11
1      5        3      3     1     1      3        2   9  11  11
2      4        3      2     2     3      3        6  12  13  12
3      3        2      2     1     1      5        0  14  14  14
4      4        3      2     1     2      5        0  11  13  13

[5 rows x 33 columns]

In [5]:
data = data[["G1", "G2", "G3", "studytime", "failures", "absences", "freetime"]]

In [6]:
data.head(100)

    G1  G2  G3  studytime  failures  absences  freetime
0    0  11  11          2         0         4         3
1    9  11  11          2         0         2         3
2   12  13  12          2         0         6         3
3   14  14  14          3         0         0         2
4   11  13  13          2         0         0         3
..  ..  ..  ..        ...       ...       ...       ...
95  13  13  13          4         0         4         1
96   9  11  11          1         0         6         3
97  13  12  12          2         0         0         3
98  12  13  13          1         0         4         3
99  12  13  13          3         0         2         3

[100 rows x 7 columns]

In [7]:
predict = "G3"

X = np.array(data.drop([predict], 1)) # Features
y = np.array(data[predict]) # Labels

In [8]:
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(X, y, test_size = 0.1)

In [9]:
linear = linear_model.LinearRegression()

In [10]:
linear.fit(x_train, y_train)
accuracy = linear.score(x_test, y_test)

In [11]:
print(accuracy)

0.8540316663801015

In [12]:
print('Coefficient: \n', linear.coef_) # These are each slope value
print('Intercept: \n', linear.intercept_) # This is the intercept

Coefficient:
 [ 0.1549244   0.87232533  0.09319839 -0.22717866  0.02425913 -0.02747626]
Intercept:
 -0.08513534383376786

In [13]:
predictions = linear.predict(x_test) # Gets a list of all predictions

for x in range(len(predictions)):
    print(predictions[x], x_test[x], y_test[x])

8.106786315211028 [7 8 1 0 6 4] 8
12.167266985724746 [11 12  1  0  4  4] 14
16.44545884398289 [15 16  2  0  6  3] 16
9.711447871045685 [ 0 11  2  0  4  3] 11
15.649128036704683 [15 15  2  0  8  2] 16
10.797062862287087 [ 8 11  1  1 12  4] 10
15.494203633921563 [14 15  2  0  8  2] 16
11.519897358132463 [ 9 12  3  2  0  3] 12
16.828864061748185 [16 16  4  0 10  5] 16
12.400782007697082 [12 12  2  0  0  1] 13
13.124956436516 [12 13  1  0  0  3] 12
14.43857484982672 [14 14  3  0  0  5] 14
10.848275106837479 [ 7 11  1  0 10  3] 11
12.435031762259198 [13 12  1  0  0  2] 14
13.57652190481914 [14 13  2  0  2  3] 13
10.18232779986464 [ 9 10  1  0  8  5] 11
10.47373068509667 [11 10  2  0  0  2] 11
11.613429646648104 [12 11  2  1 14  2] 11
10.085291260341215 [ 9 10  1  0  4  5] 10
9.613077773828845 [10  9  2  0  8  3] 10
7.606475547269567 [8 7 3 0 5 2] 8
12.439930683960808 [11 12  2  0  8  1] 14
13.311353222466376 [12 13  3  0  0  3] 14
14.24218744419508 [13 14  2  0  1  4] 14
15.414370962365801 [14 15  3  0  2  3] 17
11.25285762440722 [11 11  1  0  0  2] 12
14.42780522258898 [14 14  2  0  0  2] 14
18.723200948814785 [18 18  4  0  0  2] 18
9.464587611775645 [9 9 2 0 6 1] 10
10.501206940342488 [11 10  2  0  0  1] 11
11.042980711132467 [10 11  1  0  0  4] 11
9.474296463860009 [11  9  1  0  2  5] 10
8.11052658115227 [8 8 1 1 8 3] 9
8.965806026843554 [7 9 3 1 6 3] 9
10.136405624284613 [ 9 10  2  0  0  3] 11
14.194290200616644 [13 14  1  0  4  5] 14
11.477342311467948 [12 11  1  0  4  3] 11
8.181878046438385 [8 8 2 0 0 5] 0
8.97397419685368 [ 9  8  2  0 24  3] 9
10.015730976063608 [ 9 10  1  0  0  4] 10
15.932167365871818 [12 16  2  0  4  3] 16
13.528003635057429 [14 13  2  0  0  3] 13
4.839844596579847 [5 5 2 2 8 5] 7
13.266673099252898 [12 13  2  0  2  3] 12
10.32557978162985 [11 10  1  0  0  4] 10
18.60252630059378 [18 18  3  0  0  3] 18
10.291330027067733 [10 10  2  0  0  3] 11
12.43902789018064 [12 12  3  0  0  3] 13
11.14001725065589 [10 11  1  0  4  4] 11
14.463736778487744 [13 14  2  0  9  3] 15
11.337307450067698 [10 11  1  0 11  3] 11
12.284103487397518 [11 12  3  0  0  3] 14
11.7041298260486 [11 11  1  0 22  5] 10
10.339848296829446 [10 10  2  0  2  3] 11
17.885125371091164 [19 17  3  0  0  3] 18
0.5217394026042755 [8 0 2 3 0 5] 0
11.273899638923115 [11 11  1  0  2  3] 12
10.191490133083773 [ 9 10  2  2 21  3] 10
10.288636052279054 [11 10  2  1  4  4] 11
13.5937257727868 [14 13  3  0  0  4] 13
15.476096972173732 [15 15  2  0  2  3] 15
10.357954958577276 [ 9 10  2  0  8  2] 10
9.982384015281664 [ 7 10  1  0  8  1] 9
16.548026830456067 [16 16  3  0  0  3] 16
8.054429898901082 [7 8 2 0 0 4] 8

In [14]:
 print(predictions[x], x_test[x], y_test[x])

8.054429898901082 [7 8 2 0 0 4] 8