In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os
import numpy as np
import sklearn
from sklearn import linear_model
from sklearn.utils import shuffle
import matplotlib.pyplot as plt
from matplotlib import style
import pickle

In [2]:
data = pd.read_csv("student-por.csv", sep=";")

In [3]:
data.head(100)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,GP,F,15,R,GT3,T,1,1,at_home,other,...,3,1,2,1,1,1,4,13,13,13
96,GP,M,16,R,GT3,T,4,3,services,other,...,3,3,3,1,1,4,6,9,11,11
97,GP,F,16,U,GT3,T,2,1,other,other,...,4,3,5,1,1,5,0,13,12,12
98,GP,F,16,U,GT3,T,4,4,other,other,...,5,3,4,1,2,1,4,12,13,13
99,GP,F,16,U,GT3,T,4,3,other,at_home,...,5,3,5,1,1,3,2,12,13,13

In [1]:
#Numbers of students by Gender.
grouped_df = data.groupby( ["sex"] )
pd.DataFrame(grouped_df.size().reset_index(name = "Count"))

NameError: name 'data' is not defined

In [ ]:
##Barchat showing the Numbers by Gender
plt.figure(figsize=(15,8))
grouped_df = data.groupby( ["sex"] )
data.groupby(["sex"]).size().plot(kind="bar",color = ['darkblue','lightsteelblue','#00E28E','#00FF80'])

#Labeling the graph with X,Y coordinates,titles and displaying with proper layout
plt.title("Chart by Gender",fontsize=18, color='black')
plt.ylabel("Numbers by Sex",fontsize=18, color='black')
plt.xlabel("Sex",fontsize = 18, color = 'black')
plt.show()
plt.tight_layout()

In [5]:
data = data[["G1", "G2", "G3", "studytime", "failures", "absences", "freetime"]]

In [6]:
data.head(100)

    G1  G2  G3  studytime  failures  absences  freetime
0    0  11  11          2         0         4         3
1    9  11  11          2         0         2         3
2   12  13  12          2         0         6         3
3   14  14  14          3         0         0         2
4   11  13  13          2         0         0         3
..  ..  ..  ..        ...       ...       ...       ...
95  13  13  13          4         0         4         1
96   9  11  11          1         0         6         3
97  13  12  12          2         0         0         3
98  12  13  13          1         0         4         3
99  12  13  13          3         0         2         3

[100 rows x 7 columns]

In [7]:
predict = "G3"

X = np.array(data.drop([predict], 1)) # Features
y = np.array(data[predict]) # Labels

In [8]:
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(X, y, test_size = 0.1)

In [9]:
linear = linear_model.LinearRegression()

In [10]:
linear.fit(x_train, y_train)
accuracy = linear.score(x_test, y_test)

In [11]:
print(accuracy)

0.9402182552685784

In [12]:
print('Coefficient: \n', linear.coef_) # These are each slope value
print('Intercept: \n', linear.intercept_) # This is the intercept

Coefficient:
 [ 0.14799667  0.88043785  0.10774422 -0.26238637  0.0276337  -0.06386251]
Intercept:
 -0.00886994854170986

In [13]:
predictions = linear.predict(x_test) # Gets a list of all predictions

for x in range(len(predictions)):
    print(predictions[x], x_test[x], y_test[x])

15.613155454902609 [15 15  3  0  0  2] 16
8.799486641452196 [8 9 1 1 4 4] 10
9.880397981880375 [ 9 10  2  1  2  4] 10
16.19397069774586 [14 16  1  0  0  1] 16
16.173989898636634 [14 16  2  0  0  3] 16
12.318783294659417 [11 12  2  0  4  3] 13
9.971177623864271 [ 9 10  1  0  2  5] 11
9.710740885859531 [10 10  2  2  0  4] 10
13.432909481637024 [12 13  1  0 11  3] 12
14.513820822065204 [13 14  2  0  9  3] 15
14.241507478727101 [14 14  1  0  0  4] 15
14.483396549554692 [13 14  3  0  4  3] 15
13.838427943066966 [13 13  4  0  4  1] 13
11.476970451019913 [ 9 11  4  0  6  2] 11
11.156203926155376 [11 11  1  0  0  4] 11
15.485430435945926 [15 15  3  0  0  4] 15
7.027549703655471 [ 6  7  1  1 12  3] 7
11.455535674437858 [11 11  2  0  0  1] 12
6.363050961978107 [7 7 2 3 0 4] 8
8.17919404950503 [7 9 2 3 2 4] 10
15.273895693596623 [12 15  2  0 10  3] 15
7.272130556367646 [7 7 1 0 6 3] 8
15.538231698211277 [13 15  3  0  8  2] 15
11.115951473770792 [10 11  2  0  0  4] 11
13.765970321053471 [13 13  4  0  6  3] 13
12.463989392852541 [12 12  3  0  0  3] 12
15.121945324018968 [14 15  1  0  0  4] 15
11.28392894511206 [11 11  1  0  0  2] 11
13.340797980159875 [13 13  1  0  0  2] 13
9.367076763288342 [ 9  9  1  0 12  5] 8
5.751644967226136 [6 6 1 1 0 4] 7
15.70867530423038 [16 15  2  0  2  2] 16
10.436311562976318 [ 9 10  2  0  8  2] 10
11.179813983249133 [10 11  2  0  0  3] 11
12.458184854356306 [12 12  2  0  6  4] 12
13.128938798449491 [12 13  1  0  0  3] 12
13.236683018296949 [12 13  2  0  0  3] 12
14.201255026342517 [13 14  2  0  0  4] 14
14.029648297016717 [13 14  1  0  0  5] 14
12.54812355560624 [13 12  3  0  0  4] 13
18.422737316285613 [17 18  3  0  0  4] 17
16.834083648554888 [16 16  4  0 10  5] 16
18.806203227321795 [18 18  4  0  0  2] 18
15.096707816192989 [12 15  3  0  2  4] 15
12.650387676318543 [11 12  2  0 16  3] 12
12.829426394872801 [14 12  1  0  8  2] 13
15.229689543866426 [14 15  2  0  0  4] 15
14.349251698574559 [14 14  2  0  0  4] 15
11.383078052424361 [11 11  2  0  2  3] 12
12.487051620166817 [13 12  2  0  4  5] 12
12.356245173005084 [12 12  2  0  0  3] 13
15.337433763713884 [14 15  3  0  0  4] 15
12.559509242180312 [13 12  2  0  2  3] 12
13.18420619539268 [12 13  1  0  2  3] 12
13.691664338173844 [13 13  4  0  1  2] 13
16.54026558460251 [15 16  3  0  4  3] 16
11.204825843868365 [12 11  2  1  2  4] 12
13.256954671572307 [13 13  2  0  0  5] 13
9.564468830219605 [9 9 2 0 6 1] 10
1.084614641496855 [9 0 2 1 0 3] 0
10.534396339136258 [10 10  2  1 18  3] 10
17.562280270102967 [17 17  2  0  0  2] 18
12.356245173005084 [12 12  2  0  0  3] 13
10.25549442758815 [10 10  1  0  0  2] 10
12.252130211142159 [11 12  3  0  0  4] 13

In [14]:
 print(predictions[x], x_test[x], y_test[x])

12.252130211142159 [11 12  3  0  0  4] 13